<div class="app-content box-shadow-z4" role="main">
    <div class="row p-a white lt box-shadow">
        <div class="col-sm-6">
            <h2 class="m-b-0 _300 container">Audit du {{ $ctrl.dateAudit}}</h2>
        </div>
        <div class="col-sm-6 text-sm-right pull-right">
            <div class="m-y-sm">
                <span class="m-r-sm">Date:</span>
                <input type="date" ng-model="datePicker" ng-change="$ctrl.handlePickerChange(e);">
            </div>
            <div class="m-y-sm">
                <span class="m-r-sm">Type:</span>
                <select id="" ng-init="typeModel = 'Tout'" ng-model="typeModel" ng-change="$ctrl.handleTypeChange(this)">
                    <option value="Tout">Agences et Usines</option>
                    <option value="Agence">Agences</option>
                    <option value="Usine">Usines</option>
                </select>
            </div>
            <div class="m-y-sm">
                <span class="m-r-sm">Recherche:</span>
                <input type="text" ng-model="searchModel" ng-change="$ctrl.handleSearch(this);">
            </div>
        </div>
    </div>
    <div class="padding row">
        <div ng-if="$ctrl.audits.length === 0" class="container">
            <p class="h5 m-y-lg text-u-c font-bold">Aucun audit n'a été fait en ce jour.</p>
        </div>
        <audit-detail ng-repeat="audit in $ctrl.audits" audit="audit" date="$ctrl.dateAudit"></audit-detail>
    </div>
</div>