<div style="height:230px;">
    <table class="table table-responsive">
        <thead style="display:block;">
            <tr>
                <th class="text-ellipsis col-xs-6">Nom table</th>
                <th class="col-xs-2 text-center">Taille Ko</th>
                <th class="col-xs-2 text-center">Nb Extent</th>
            </tr>
        </thead>
        <tbody style="height: 160px; display: block;overflow-y:scroll;overflow-x:scroll;">
            <tr class="row" ng-repeat="t in $ctrl.tables">
                <th class="text-ellipsis col-xs-4">{{t.NOM_OBJET}}</th>
                <th class="col-xs-2 text-center">{{t.TAILLE_OBJET}}</th>
                <th class="col-xs-2 text-center">{{t.NB_EXTENT}}</th>
            </tr>
            <div class="box-divider"></div>
        </tbody>
    </table>
    <p class="text-right">{{ $ctrl.tables.length }} lignes sélectionnées.</p>
</div>